body {
  height: 100%;
}

body {
  /* display: flex; */
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #f5f5f5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  ;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.my-city-name-form {
  margin-top: 80px;

}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 8;
  border-bottom-left-radius: 8;
}

.city-name {

  margin-bottom: 10px;


}

.myTem {
  padding: 14% 24%;
  /* text-align: center; */
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .myTem{
    padding-top: 32%;
  }
}

@media only screen and (max-width: 300px) {
  html {
    /* background-color: lightblue; */
    font-size: 10px;
  }
  .myTem{
    padding-top: 32%;
    padding-right: 15%;
    padding-left: 15%;
  }
  .my-img{
    margin-left: 80px;
    padding-right: 40px;
  }
}

